# Concepts

- Iterning
- print, module, comments
- variables, keyword and identifier
- data type
- operators, overloaded operators
- type casting and type()
- input() function and Output formatting

# Note
- Development : Visual studio code
- To execute python file in terminal : python filname.py
- key + tab key to auto complete in terminal
- .py is the extension for python files
- ctrl + / make the line commented
- multi cursor fnctionality : ctrl+alt and end keyword
- windows power shell
- REPL : Read evaluate print loop
- tab to auto complete the code

In [66]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# Interning
- Interning - allocating same memory to variables with same data. Default set - [-5,256] and simple strings
- Interning provides best utilization of space
- Forceful interning:
    - import sys 
    - x = sys.intern("hello world")
- Any values outside [-5,256] and for complicated string, python also allocate separate memory to variables with same data

In [32]:
x = 56
y = 56
x_str = "hello"
y_str = "hello"
print(id(x))
print(id(y))
print()
print(id(x_str))
print(id(y_str))

2506892595280
2506892595280

2506969637552
2506969637552

In [33]:
x = 258
y = 258
x_str = "hello world"
y_str = "hello world"
print(id(x))
print(id(y))
print()
print(id(x_str))
print(id(y_str))

2506999590032
2506999590000

2506999666736
2506999668208

In [43]:
#Forcefull interning
import sys
#sys.intern(string)
x_str = sys.intern("hello world")
y_str = sys.intern("hello world")
z_str = y_str
a_str = "hello world"
print(id(x_str))
print(id(y_str))
print(id(z_str))
print(id(a_str))
print()
print(x_str is y_str)
print(x_str is z_str)
print(x_str is a_str)

2507038429488
2507038429488
2507038429488
2507038429616

True
True
False

In [46]:
x = 3
print(id(x))
x = x+1
print(id(x))

2506892405104
2506892405136

In [51]:
a = 2
b = c = a
print(id(a))
print(id(b))
print(id(c))
print(a,b,c)

2506892405072
2506892405072
2506892405072
2 2 2

# Print, Module, Comments

**print function**

In [1]:
print("Hello World") # print() : is a function

Hello World

In [260]:
#\n
print("GeeksforGeeks \n is best for DSA Content.")

GeeksforGeeks
 is best for DSA Content.

In [261]:
#end
print ("GeeksForGeeks is the best platform for DSA content", end= "**")
print("Welcome to GFG")

GeeksForGeeks is the best platform for DSA content**Welcome to GFG

In [262]:
print ("GeeksForGeeks is the best platform for DSA content", end= " ")
print("Welcome to GFG")

GeeksForGeeks is the best platform for DSA content Welcome to GFG

In [264]:
print ("GeeksForGeeks is the best platform for DSA content", end= " and ")
print("Welcome to GFG")

GeeksForGeeks is the best platform for DSA content and Welcome to GFG

In [265]:
#sep
letter = "for"
print("Geeks", letter , "Geeks")

Geeks for Geeks

In [268]:
letter = "for"
print("Geeks",letter,"Geeks",sep="*")

Geeks*for*Geeks

**Module Ex : time module**
- Modules are files with the “. py” extension containing Python code that can be imported inside another Python Program.

In [2]:
import time
time.sleep(10)
print("10 seconds have been passed since this program ran")

10 seconds have been passed since this program ran

- epoch time : 1 Jan 1970.
- 2 January 1970 can be expressed as 86400 seconds since epoch

In [3]:
print(time.gmtime(0)) # gives epoch time : 1 Jan 1970.

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

- time.time() methods return the current time in seconds since epoch

In [4]:
print("current time in secs since epoch = ",time.time())

current time in secs since epoch =  1644884913.8633769

- time.ctime() function returns a 24 character time string but takes seconds as argument and computes time till mentioned seconds.

In [5]:
print("current time = ",time.ctime(1644874017.0792887))

current time =  Mon Feb 14 16:26:57 2022

In [6]:
print("current time = ",time.localtime(1644874017.0792887))

current time =  time.struct_time(tm_year=2022, tm_mon=2, tm_mday=14, tm_hour=16, tm_min=26, tm_sec=57, tm_wday=0, tm_yday=45, tm_isdst=0)

In [7]:
s = time.strftime("%a, %d, %b, %Y, %H:%M:%S",time.gmtime(1644874017.0792887))
print(s)

Mon, 14, Feb, 2022, 21:26:57

In [8]:
obj = time.localtime(1644874017.0792887)
print("current time = ",time.asctime(obj))

current time =  Mon Feb 14 16:26:57 2022

- pip is package manager for python

In [9]:
pip install flask

Requirement already satisfied: flask in c:\users\priya\python\lib\site-packages (1.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\priya\python\lib\site-packages (from flask) (2.0.2)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\priya\python\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=5.1 in c:\users\priya\python\lib\site-packages (from flask) (8.0.3)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\priya\python\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: colorama in c:\users\priya\python\lib\site-packages (from click>=5.1->flask) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\priya\python\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install pyttsx3

Requirement already satisfied: pyttsx3 in c:\users\priya\python\lib\site-packages (2.90)
Requirement already satisfied: pypiwin32 in c:\users\priya\python\lib\site-packages (from pyttsx3) (223)
Requirement already satisfied: pywin32 in c:\users\priya\python\lib\site-packages (from pyttsx3) (228)
Requirement already satisfied: comtypes in c:\users\priya\python\lib\site-packages (from pyttsx3) (1.1.10)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pyttsx3 # text to speech module
engine = pyttsx3.init()
engine.say("Hey Priya I am a python module. Welcome to the world of python")
engine.runAndWait()

In [12]:
import os
os.listdir()

['.ipynb_checkpoints',
 'chap1  Intro - Basics.ipynb',
 'dictionary.ipynb',
 'map().ipynb']

- Note : time module is built-in module and flask is external module

**Comments**

In [13]:
import time
time.sleep(2)
#Single line comment 
'''Multiline Comment
Author:
Date:
Time:
'''
print("2 seconds have been passed since this program ran")

2 seconds have been passed since this program ran

- Multi cursor functionality

In [14]:
print("bangalore")
print("mangalore")
print("bagalkot")
print("belgavi")
print("bijapur")

bangalore
mangalore
bagalkot
belgavi
bijapur

In [15]:
print('''bangalore
mangalore
bagalkot
belgavi
bijapur''')

bangalore
mangalore
bagalkot
belgavi
bijapur

# Variables and Datatypes

- Variable is a name given to memory location ie variables are container in memory that holds some value
- Data types : Numbers(Integers,Float,complex,Boolean),sequence(strings,List,Tuple),Dictionary,Set,None
- Python automatically identifies the type of data for us
- Keyword : predefined and reserved words in python
- Keyword : and,or,not,if,elif,else,for,while,break,as,def,lambda,pass,return,True,False,try,with,assert,class,continue,del,except,finally,from,global,import,is,in,None,nonlocal,yield,raise
- An identifier is a name given to entities like class, functions, variables, etc.
- Keywords cannot be used as identifiers.
- Variable is only a kind of identifier, other kinds of identifiers are function names, class names, structure names, etc
- The identifier is only used to identify an entity uniquely in a program at the time of execution whereas, a variable is a name given to a memory location, that is used to hold a value.

In [16]:
a = 71 #identifies a as class<int>
type(a)

int

In [17]:
d = None
type(d)

NoneType

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [19]:
keyword.iskeyword("techbuzz")

False

In [20]:
keyword.iskeyword("for")

True

# Operators

- Arithmetic Operators : +(addition), - (Subtraction), * (Mul), / (Division), % (Modulus), ** (Exponent), //(floor division)
- Equality and Comparison (Relational) Operators : ==, !=, >, <, >=, <=
- Assignment Operators : =, +=, -=, *=, /=, //=, **=, %=, ^=, >>=,<<=
- Logical Operators : AND, OR, NOT
- Bitwise Operators : &, |, ^(XOR), ~ (1's complement), >>, << (right and left shift)
- Membership Operators : in , not in
- Identity Operators : is ,not is
- Precedence
    - ( ), [ ], { }
    - x[ ], x(), x
    - await
    - **
    - ~ + -
    - (* / % //)
    - (+ -)
    - (>> <<)
    - &
    - ^ |
    - is, is not, in, not in
    - <= < > >=
    - <> == !=
    - not x
    - and
    - or
    - if else
    - lambda
    - = %= /= //= -= += *= **= 
- Operators with same precedence are evaluated in left to right manner

In [37]:
#Assignment and identity operators
x = 258
y = 258
x_str = "hello world"
y_str = "hello world"
print(x == y)
print(x is y)
print()
print(x_str == y_str)
print(x_str is y_str)

True
False

True
False

In [39]:
#Assignment and identity operators
x = 58
y = 58
x_str = "hello"
y_str = "hello"
print(x == y)
print(x is y)
print()
print(x_str == y_str)
print(x_str is y_str)

True
True

True
True

In [2]:
x = 4
y = 3
print(x==y)
print(x is y)

False
False

In [47]:
#Mutiple assignment operator
#Swap two numbers
a,b = 2,5
print(a,b)
a,b = b,a
print(a,b)

2 5
5 2

In [54]:
#Logical operators
x = 5
y = 10
print(5**2>25 and y<50)
print(5**2>25 or y<50)
print(not(5**2>25 and y<50))

False
True
True

**Operator functions**

In [213]:
import operator

In [215]:
a,b=8,6
print(operator.add(a,b))
print(operator.sub(a,b))
print(operator.mul(a,b))
print(operator.truediv(a,b))
print(operator.floordiv(a,b))
print(operator.pow(a,b))
print(operator.mod(a,b))

14
2
48
1.3333333333333333
1
262144
2

In [216]:
a,b=3,3
print(operator.lt(a,b))
print(operator.le(a,b))
print(operator.eq(a,b))
print(operator.gt(a,b))
print(operator.ge(a,b))
print(operator.ne(a,b))

False
True
True
False
True
False

In [223]:
#bitwise
#invert : For signed integer inputs, the two’s complement is returned. In a two’s-complement system negative numbers are represented by the two’s complement of the absolute value.
import numpy as np
a = 1
b = 0
print(operator.and_(a,b))
print(operator.or_(a,b))
print(operator.xor(a,b))
print(operator.invert(a))
print(operator.invert(b))
print(np.bitwise_not(b))
print(~(b))

0
1
1
-2
-1
-1
-1

In [3]:
# invert ex
a = 32
b = 78
print(~a)
print(~(-1))
print(~(-10))
print(~b)
# Increase it by one to 33.
# Prefix it with the negative symbol -33.
#To represent x = -1 using 8 bits you first calculate (1-1) = 0 and then flip all bits to calculate "11111111".
#To represent x = -10 using 8 bits you first calculate (10-1) = 9 which is "00001001" in binary format. Then, you complement all bits to determine the negative (complementary) binary "11110110"

-33
0
9
-79

**Overloaded operators**

- The same built-in operator or function shows different behavior for objects of different classes, this is called Operator Overloading.
- Example:
    - operator + is used to add two integers as well as join two strings and merge two lists. 
    - It is achievable because ‘+’ operator is overloaded by int class and str class

In [25]:
print(1 + 2)
print("Geeks"+"For")
print([10,20]+[20,40])
print(3 * 4)
print("Geeks"*4)

3
GeeksFor
[10, 20, 20, 40]
12
GeeksGeeksGeeksGeeks

In [21]:
print(~4)

-5

In [22]:
a = [10, 20]
b = a
b += [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [68]:
a = 5
b = 6
print(a+b)
print(int.__add__(a,b)) #int is a class #this is called beyond scenes

11
11

In [70]:
x1 = '5'
y1 = '6'
print(x1+y1)
print(str.__add__(x1,y1))

56
56

In [ ]:
# Magic methods
# __add__(self,other)
# __sub__(self,other)
# __mul__(self,other)

In [6]:
class student:
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        
    def __add__(self,other): #overload operator + in class student
        m1 = self.m1+other.m1
        print("self m1:",self.m1)
        print("self m2:",self.m2)
        print("self m3:",self.m3)
        print("other m1:",other.m1)
        print("other m2:",other.m2)
        print("other m3:",other.m3)
        m2 = self.m2+other.m2
        m3 = self.m3+other.m3
        s4 = student(m1,m2,m3)
        print("sum of student s1:",self.m1+self.m2+self.m3)
        print("sum of student s2:",other.m1+other.m2+other.m3)

        return s4
    
    def __gt__(self,other):
        r1 = self.m1+self.m1
        r2 = other.m2+other.m2
        if r1>r2:
            return True
        else:
            return False

s1 = student(50,51,52)
s2 = student(60,61,62)

#s3 = s1+s2  #ypeError: unsupported operand type(s) for +: 'student' and 'student' #before writing __add__
s3 = s1 + s2#student.__add__(s1,s2) #s1 goes to self and s2 goes to other

print(s3.m1)
print(s3.m2)
print(s3.m3)

if s1 > s2:
    print("s1 wins")
else:
    print("s2 wins")

self m1: 50
self m2: 51
self m3: 52
other m1: 60
other m2: 61
other m3: 62
sum of student s1: 153
sum of student s2: 183
110
112
114
s2 wins

In [133]:
class student:
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        
    def __add__(self,other): #overload operator + in class student
        m1 = self.m1+other.m1
        m2 = self.m2+other.m2
        m3 = self.m3+other.m3
        s4 = student(m1,m2,m3)

        return s4

s1 = student(50,51,52)
s2 = student(60,61,62)
s3 = student(70,71,72)

s4 = s1 + s2 + s3

print(s4.m1)
print(s4.m2)
print(s4.m3)

180
183
186

In [106]:
a = 5
print(a)
print(a.__str__())

5
5

In [108]:
class student:
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
s1 = student(58,69)
s2 = student(60,65)
print(s1) 
print(student.__str__(s1))
print(s1.__str__())

print()
print(s2) 
print(student.__str__(s2))
print(s2.__str__())

<__main__.student object at 0x00000247B98F79D0>
<__main__.student object at 0x00000247B98F79D0>
<__main__.student object at 0x00000247B98F79D0>

<__main__.student object at 0x00000247B98F7D30>
<__main__.student object at 0x00000247B98F7D30>
<__main__.student object at 0x00000247B98F7D30>

In [113]:
class student:
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
    def __str__(self): #overload __str__ 
        return self.m1,self.m2
s1 = student(58,69)
s2 = student(60,65)
print(s1.__str__())
#print(s1) #TypeError: __str__ returned non-string (type tuple)

(58, 69)

In [115]:
class student:
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
    def __str__(self): #overload __str__ 
        return '{} {}'.format(self.m1,self.m2)
s1 = student(58,69)
s2 = student(60,65)
print(s1)
print(s2)

58 69
60 65

# Type Casting
- to convert one data type into another
- If you try and pass in a string that can not be converted to a number such as "hello" you will get back a ValueError
- not all strings can be converted to an integer

#  type()
- type function is used to find the data type of variable

In [165]:
a = 'this is string'
b = 34
c = None
d = False
e = 4.5
f = complex(4,5) # or f = 4+5j
g = [1,2,3]
h = (2,3,4)
i = {'a':23,"b":[2,7,8]}
j = {4,5,"hello"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(f)

<class 'str'>
<class 'int'>
<class 'NoneType'>
<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
(4+5j)

In [60]:
x = "mat"
#type(int(x)) #ValueError: invalid literal for int() with base 10: 'mat'
y = '10'
print(type(int(y)))
print(type(y))

<class 'int'>
<class 'str'>

In [145]:
a = 56
b = "56"
a==b

False

**Type cast function available**
- int()
    - str,float -> int
- float()
    - str, int -> float
- str()
    - int,float,list,tuple,dict -> str
- list()
    - str,tuple,set,dict -> list
- tuple()
    - str,list,set,dict -> tuple
- set()
    - str,list,tuple,dict -> set
- complex()
    - float,int -> complex

In [148]:
print(int('56'))
print(int(5.6))
#print(int([1,2,3,4])) #TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

56
5

In [152]:
print(float('56'))
print(float(5))
#print(float(complex(4,5))) #TypeError: can't convert complex to float

56.0
5.0

In [277]:
print(str(5))
print(str(5.6))
print(str([1,2,3,4,5]))
print(str((1,2,3)))
print(str({'a':1,"b":[1,2]}))
print(type(str(5)))
print(type(str(5.6)))
print(type(str([1,2,3,4])))
print(type(str((1,2,3))))
print(type(str({'a':1,"b":[1,2]})))

5
5.6
[1, 2, 3, 4, 5]
(1, 2, 3)
{'a': 1, 'b': [1, 2]}
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [162]:
print(list("hello"))
print(list((1,2,3)))
print(list({'a':1,"b":[1,2]}))
print(list({2,3,"good"}))
print(type(list("hello")))
print(type(list((1,2,3))))
print(type(list({'a':1,"b":[1,2]})))
print(type(list({2,3,"good"})))

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]
['a', 'b']
['good', 2, 3]
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [168]:
print(tuple("hello"))
print(tuple((1,2,3)))
print(tuple({2,3,"good"}))
print(tuple({'a':1,"b":[1,2]}))
print(type(tuple("hello")))
print(type(tuple((1,2,3))))
print(type(tuple({2,3,"good"})))
print(type(tuple({'a':1,"b":[1,2]})))
#print(tuple(56)) #TypeError: 'int' object is not iterable

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
('good', 2, 3)
('a', 'b')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [174]:
print(set("hello"))
print(set([1,2,3]))
print(set((2,3,"good")))
print(tuple({'a':1,"b":[1,2]}))
print(type(set("hello")))
print(type(set([1,2,3])))
print(type(set((2,3,"good"))))
print(type(set({'a':1,"b":[1,2]})))
print(type({'a':1,"b":[1,2]}))

{'l', 'h', 'o', 'e'}
{1, 2, 3}
{'good', 2, 3}
('a', 'b')
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'dict'>

# input() function
- This function allows the user to take input from keyword as a string
- note that the output of input() is always string (even if the number is entered)

In [179]:
a = input("enter your name:")
print("Entered name is",a)

enter your name:priya
Entered name is priya

In [183]:
a = input("Enter first number:")
b = input("Enter first number:")
print("The sum is:",a+b)

Enter first number:4
Enter first number:5
The sum is: 45

In [186]:
a = int(input("Enter first number:"))
b = int(input("Enter first number:"))
print("The sum is:",a+b)

Enter first number:4
Enter first number:5
The sum is: 9

In [187]:
ab = int(input("Enter first number:"))
bb = int(input("Enter first number:"))
print("The sum is:",ab+ab)

Enter first number:4
Enter first number:5
The sum is: 8

- taking single character

In [188]:
Gender = input("Enter your gender")[0]
print(Gender)

Enter your genderFemale
F

- eval function

In [189]:
exp = eval(input("Enter the expression"))
print(exp)

Enter the expression2+3*2
8

# Output formatting
- syntax for a format placeholder is: 
    -  %[flags][width][.precision]type

In [195]:
name = "Suresh"
salary = 250000
print("The salary of %s is %d"%(name,salary))
print("The salary of %(m)s is %(n)d"%{'n':salary,'m':name})
print("The salary of %(m)s is %(n)d"%{'n':20000,'m':"veena"})
print("Salary of",name,"is",salary)

The salary of Suresh is 250000
The salary of Suresh is 250000
The salary of veena is 20000
Salary of Suresh is 250000

In [196]:
print("Salary of {} is {}".format(name,salary))
print("Salary of {1} is {0}".format(salary,name))
print("Salary of {n} is {m}".format(m=salary,n=name))

Salary of Suresh is 250000
Salary of Suresh is 250000
Salary of Suresh is 250000

In [12]:
print("Second argument:{1:d}, first one:{0:7.2f}".format(47.42, 11))
print("Second argument:{1:3d}, first one:{0:7.3f}".format(47.42, 11))

Second argument:11, first one:  47.42
Second argument: 11, first one: 47.420

In [10]:
#Zero and space padding
a = 5
print("Space padding: %5i"%a)
print("Space padding: %10.2f"%(5.432))
print('Space padding: {0:5d}'.format(a))
print('Zero padding: {0:05d}'.format(a))
print('Zero padding: %05i'%a)

value = 3.3333333333
print('Value: {0:.2f}'.format(value))

Space padding:     5
Space padding:       5.43
Space padding:     5
Zero padding: 00005
Zero padding: 00005
Value: 3.33

In [274]:
# print octal value
print("%7.4o" % (17))
print("%7.3o" % (17))

# print exponential value
print("%10.3E" % (356.08977))

   0021
    021
 3.561E+02

In [211]:
num = 17
print("Hexadeicmal format: %x"%num)
# print("binary format: %b"%num) # valueError: unsupported format character 'b' (0x62) at index 16
print("octal format: %o"%num)
print("exponential format: %e"%num)

Hexadeicmal format: 11
octal format: 21
exponential format: 1.700000e+01

In [212]:
num1=17
print("Binary format {0:b}".format(num))
print("Hexadecimal format {0:x}".format(num))
print("Octal format {0:o}".format(num))
print("Exponential format {0:e}".format(num))

Binary format 10001
Hexadecimal format 11
Octal format 21
Exponential format 1.700000e+01

- Taking multiple inputs from user in Python
    - Syntax : 
        - input().split(separator, maxsplit) : this returns list

In [254]:
boys,girls = input("Enter two values:").split()
print(boys,girls)
type(boys)

Enter two values:3 4
3 4

str

In [247]:
x,y,z = input("Enter three values:").split()
print(x,y,z)

Enter three values:5 6 7
5 6 7

In [249]:
num1 = input("Enter two values:").split()
print(num1)
print(type(num1))

Enter two values:3 4 5 6 7
['3', '4', '5', '6', '7']
<class 'list'>

In [253]:
#num1 = int(input("Enter two values:").split()) #TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'
num1 = list(map(int,input("Enter two values:").split()))
print(num1)
print(type(num1))

Enter two values:2 3 4 5 6
[2, 3, 4, 5, 6]
<class 'list'>

In [256]:
x,y = [int(x) for x in input("Enter two values:").split()]
print(x)
print(y)

Enter two values:9 1
9
1

In [257]:
x = [int(x) for x in input("Enter two values:").split()]
print(x)

Enter two values:2 3 4 5 6 7
[2, 3, 4, 5, 6, 7]

In [259]:
x = [int(x) for x in input("Enter two values:").split(',')]
print(x)

Enter two values:3,4,5,6,7
[3, 4, 5, 6, 7]

In [280]:
# Type conversion in list of dicts.
# using naive method
 
# initializing list of dictionary
test_list = [{'a' : '1', 'b' : '2'}, { 'c' : '3', 'd' : '4'}]
 
# printing original list
print ("The original list is : " + str(test_list))
 
# using naive method
# type conversation in list of dicts.
for dicts in test_list:
    print(dicts)
    for keys in dicts:
        dicts[keys] = int(dicts[keys])
# printing result
print ("The modified converted list is : " +  str(test_list))

The original list is : [{'a': '1', 'b': '2'}, {'c': '3', 'd': '4'}]
{'a': '1', 'b': '2'}
{'c': '3', 'd': '4'}
The modified converted list is : [{'a': 1, 'b': 2}, {'c': 3, 'd': 4}]

In [282]:
#Escape Character single and double quotes
myname = "My Na\'me\nis \tHar\"ry"
print(myname)

My Na'me
is 	Har"ry